@import "transition.scss";
html {
    font-size: 10vw;
}

body {
    margin: 0 auto;
    font-family: "HarmonyOS_Regular", "nunito_for_arco", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
    text-size-adjust: 100% !important; /** IOS禁止微信调整字体大小 */
    color: $text;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
p {
    margin: 0;
}
* {
    box-sizing: border-box;
}
