// 全局动画样式

slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.3s;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.slide-left-leave-to,
.slide-right-leave-to {
    width: 100vw;
    height: 100vh;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.5s;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/** 面包屑动画 */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

.breadcrumb-move {
    transition: all 0.5s;
}

.breadcrumb-leave-active {
    position: absolute;
}

//边框提示动画
.trigg-error {
    border-width: 1px !important;
    border-style: solid !important;
    animation: trigganimation 0.4s ease-out infinite alternate !important;
}
@keyframes trigganimation {
    0% {
        border-color: rgb(255, 255, 255);
    }
    100% {
        border-color: rgb(253, 6, 6);
    }
}
