// 主色调
$main: rgb(var(--primary-6));

// 辅助色
$success: rgb(var(--success-6));
$warning: rgb(var(--warning-6));
$danger: rgb(var(--danger-6));
$link: rgb(var(--link-6));
$border: var(--color-border-2);
$fill: var(--color-fill-2);
$text: var(--color-text-1);
$bg: var(--color-bg-white);
$bg2: var(--color-bg-2);

//标签高度
$base-tags-height: 34px;
//头部高度
$base-header-height: 60px;
//主体高度
$base-main-height: calc(100vh - #{$base-header-height} - #{$base-tags-height});
